.App {
    text-align: center;
    /* position: fixed; */
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.ddl {
    font-size: 14px;
    color: black;
    padding: 7px;
    padding-right: 51px;
    margin-right: 654px;
}

.frm {
    height: 542px;
    width: 350px;
    border-width: 0px;
    margin-right: 117px;
    padding: 43px;
}

.txtArea {
    margin-right: 220px;
    height: 180px;
    width: 300px;
}

#btnSave {
    background-color: #008CBA;
    border: none;
    color: white;
    padding: 6px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
}

#btnCancel {
    background-color: #008CBA;
    border: none;
    color: white;
    padding: 6px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
}